* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
html,
body {
  width: 100%;
}
/*
Colors
light Gray #5d5d5d

black #000000
*/
.App {
  //   position: relative;
  margin: 0px 100px 0px 100px;
  .circleone {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    position: absolute;
    opacity: 0.2;
    background-color: #0352a0;
    left: 0;
    top: 300px;
  }
  /* Practicing DRY */
  .lists {
    ul {
      margin: 0 0 0 60px;
      li {
        line-height: 1.8;
      }
    }
  }
  .imagecenter {
    display: block;
    margin: auto;
  }
  .techs {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    div {
      img {
        width: 50%;
      }
    }
  }
  .eexperience-h {
    margin-bottom: -20px;
  }
  .grid {
    display: grid;
    grid-template-columns: 10% 45% 45%;
  }
  .new-section {
    margin-top: 30px;
  }
  .experience {
    .companyname {
      font-weight: bold;
      font-size: 20px;
    }
    .position {
      color: #7b7b7b;
    }
    .spotlights {
      p {
        margin: 10px;
      }
    }
  }
  .e-experience {
    margin: 20px 0 0 0;
    .sch-name {
      font-weight: bold;
      font-size: 20px;
    }
    .cert,
    .year-grad {
      color: #7b7b7b;
    }
    .year-grad {
      line-height: 2;
    }
  }
  .section-header {
    font-weight: bold;
    font-size: 26px;
    margin: 0 0 20px 0;
  }
  .header {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    img {
      width: 50%;
      text-align: center;
    }
  }
  .section-paragraph {
    font-size: 18px;
    color: #5d5d5d;
    padding: 0 20px;
    border-left: 3px solid rgb(0, 80, 146);
  }
  .header-icon {
    width: 24px;
  }
  .first-row {
    overflow: hidden;
    height: 700px;
    .first-column {
      .hello {
        font-size: 50px;
        margin: 350px 0 0 0;
        font-weight: bold;
        h1 {
          transform: rotate(-90deg);
        }
      }
    }
    .second-column {
      .user-image {
        width: 100%;
        height: 700px;
        overflow: hidden;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        img {
          width: 100%;
        }
      }
    }
    .third-column {
      padding: 200px 20px 0px 50px;
      .nameandabout {
        margin: 30px 0 0 0;
        .cv-name {
          font-family: "montserrat-semibold";
          grid-column-start: 1;
          grid-column-end: 3;
          //   font-size: 28px;
          //   text-transform: uppercase;
        }
        .cv-about {
          border-left: 3px solid rgb(0, 80, 146);
          padding: 0 20px;
          color: #5d5d5d;
        }
      }

      .contact-information {
        margin: 30px 0 0 0;

        .tel-numbers {
          display: grid;
          grid-template-columns: 50% 50%;
          grid-gap: 10px;

          div {
            width: 100%;
            border-radius: 15px;
            color: #fff;
            padding: 10px;
            &:hover {
              transition: 0.3s;
              transform: scale(1.05);
            }
            // margin: 20px 0 0 0;
            a {
              font-size: 30px;
              font-weight: bolder;
            }
          }
          .primary-number {
            background-color: rgb(0, 80, 146);
            a {
              color: #fff;
            }
          }
          .secondary-number {
            border: 2px solid #aeaeae;
            p,
            a {
              color: #9a9a9a;
            }
          }
        }
        .social-media-links {
          border-left: 3px solid rgb(0, 80, 146);
          padding: 0 20px;
          color: #5d5d5d;
          margin: 40px 0 0 0;
          display: grid;
          grid-template-columns: auto auto auto;
          h3 {
            grid-column-start: 1;
            grid-column-end: 4;
          }
          a {
            &:hover {
              transform: scale(1.2);
              transition: 0.3s;
            }
            margin: 20px 0 0 0;
            img {
              width: 20%;
            }
          }
        }
      }
    }
  }
  .second-row {
    margin: 30px 0 0 0;
    background-color: #dfdfdf;
    padding: 30px 0;
    .second-column {
      border-right: 2px solid #797979;
    }
    .third-column {
      padding: 0 20px 0 50px;
    }
  }
}
